@model CommentViewModel

@{

}

<div class="comment-form">
    <h3>Leave a comment</h3>
    <form method="post" asp-controller="Home" asp-action="Comment">
        <input asp-for="PostId" type="hidden" />

        <label>Name:</label>
        <input asp-for="VisitorName" /> <br/>

        <label>Message:</label>
        <textarea rows="10" asp-for="Message"></textarea> <br/>

        <input type="submit" class="submit-button" value="Post"/>
    </form>
</div>