body {
    margin: 0;
    background-color: #f5f7fa;
    height: 100%;
    min-height: 100%;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    text-align: center;
    color: #151010;
}

h3 {
    text-align: center;
    color: white;
}

.wrapper {
    position: relative;
    min-height: 100vh;
}

.main {
    padding-bottom: 5rem;
    font-size: 1.2rem;
}

.main a {
    color: #ccc;
}

nav, footer {
    background-color: #151010;
    height: auto;
    width: 100%;
    text-align: center;
}

nav a {
    display: inline-block;
    padding: 15px;
}

.main-img {
    position: relative;
    height: 500px;
    background-image: url('../content/static/cover.jpg');
    background-position: center;
    background-size: cover;
    color: white;
}

.title {
    position: absolute;
    color: white;
    font-size: 40px;
    left: 50%;
    transform: translateX(-50%);
    top: 35%;
}

.title-background {
    border: 1px solid white;
    padding: 1em;
}

.container {
    max-width: 800px;
    width: 100%;
    margin: auto;
    text-align: center;
    background-color: rgba(21, 16, 16, 0.07);
    border-radius: 20px;
}

.post {
    margin: 1em;
    padding: 2em;
    position: relative;
    display: flex;
    height: auto;
    justify-content: center;
}

.post-title {
    font-size: 30px;
    text-align: center;
}

.post span {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.post-hover:hover {
    background-color: #221919;
    border-radius: 10px;
}

.post img {
    width: 100%;
}

.post-body {
    padding: 1.5em;
    text-align: center;
}

.comment-form {
    border-bottom: 2px solid white;
    padding: 1em;
    margin: 1em;
}

.login {
    padding: 1em;
    border-top: 2px solid white;
}

footer {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    height: 2.5rem;
}

.footer-text {
    text-align: center;
    color: #f0f8ff;
}
